DATABASE_URL="postgresql://resumee:resumee@localhost:5432/resumee?schema=public"
DIRECT_URL="postgresql://resumee:resumee@localhost:5432/resumee?schema=public"
PORT="3000"
CORS_ORIGINS="http://localhost:5173,http://resumee.localhost,http://resumee.localhost:81,https://hickmann-kuschnereit.de"
NODE_ENV="development"
